################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/exerciciosAcademia/.vs/exerciciosAcademia
/exerciciosAcademia/exerciciosAcademia/obj
